<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <section name="msmq" type="Shuttle.ESB.Msmq.MsmqSection, Shuttle.ESB.Msmq"/>
   </configSections>

   <msmq>
      <queues>
        <queue uri="msmq://./inbox-work-1" isTransactional="true" />
        <queue uri="msmq://./inbox-work-2" isTransactional="false" />
      </queues>
   </msmq>
</configuration>