body::-webkit-scrollbar {
    width: auto;
}
body {
    scrollbar-width: auto;
    scrollbar-color: $scrollbar-bg $scrollbar-thumb-bg;
}
body::-webkit-scrollbar-track {
    background: $scrollbar-thumb-bg;
}
body::-webkit-scrollbar-thumb {
    background-color: $scrollbar-bg;
    border-radius: 6px;
    border: 3px solid $scrollbar-thumb-bg;
}

.overview {
    font-size: 2em;
}

.alert a, .card a {
    color: #2d6385;
    font-weight: 600;
}

.alert a:hover {
    color: #024670;
}

.alert a:active {
    color: #244052;
}

iframe {
    padding: 0 0 1rem 0;
}

div.highlight {
    padding: 5px;
    position: relative;
    margin-bottom: 1.5em;
}

footer a {
    color: #997659;
}

footer a:hover {
    color: #994b0c;
}

.nav-link > svg {
    width: 1rem;
    height: 1rem;
}

div.toc-anchor {
    position: relative;
    height: 60px;
}

a.toc-anchor {
    position: absolute;
    top: -60px;
}

.footer-links {
    padding-left: 0;
    margin-bottom: 1rem;
    list-style: none;
}

nav[data-toggle="toc"] {
    top: 5em;
    z-index: 1;
}

.alert a {
    font-weight: 600;
}

pre.highlight {
    padding: 1rem;
}

div.image-container {
    text-align: center;
}

div.image-container img {
    max-width: 100%;
}

@media (max-width: 768px) {
    nav[data-toggle="toc"] {
        margin-bottom: 2em;
        position: static;
    }

    nav[data-toggle="toc"] .nav .active .nav {
        display: none;
    }
}

.fa-search {
    font-family: FontAwesome;
}

#toast-copy {
    position: absolute;
    top: 2em;
    right: 2em;
}

// must be last to prevent flash of unstyle content
#unstyled-overlay {
    display: none;
}
