<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <section name="rabbitmq" type="Shuttle.ESB.RabbitMq.RabbitMqSection, Shuttle.ESB.RabbitMq"/>
   </configSections>

   <rabbitmq>
     <exchanges>
       <exchange name="exchange-alpha" type="fanout" isDurable="false" autoDelete="true"/>
       <exchange name="exchange-omega" type="topic"/>
     </exchanges>
     
      <queues>
        <queue uri="rabbitmq://./inbox-work-1" isTransactional="true" isDurable="true" exchange="exchange-alpha"/>
        <queue uri="rabbitmq://./inbox-work-2" isTransactional="false"  isDurable="true"/>
      </queues>
   </rabbitmq>
</configuration>