<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="serviceBus" type="Shuttle.ESB.Core.ServiceBusSection, Shuttle.ESB.Core"/>
  </configSections>

  <serviceBus>
    <control
       workQueueUri="msmq://./control_inbox_work"
       errorQueueUri="msmq://./control_inbox_error"
       journalQueueUri="msmq://./control_inbox_journal"
       threadCount="25"
       durationToSleepWhenIdle="250ms,10s,30s"
       durationToIgnoreOnFailure="30m,1h"
       maximumFailureCount="25" />
  </serviceBus>
</configuration>