<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <section name="serviceBus" type="Shuttle.ESB.Core.ServiceBusSection, Shuttle.ESB.Core"/>
   </configSections>

   <serviceBus>
      <inbox
        workQueueUri="msmq://./inbox-work"
        errorQueueUri="msmq://./inbox-error"
        threadCount="25"
        durationToSleepWhenIdle="250ms,10s,30s"
        durationToIgnoreOnFailure="30m,1h"
        maximumFailureCount="25" />
   </serviceBus>
</configuration>