<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="shuttle">
			<section name="serviceBus" type="Shuttle.ESB.Core.ServiceBusSection, Shuttle.ESB.Core"/>
		</sectionGroup>
	</configSections>

	<shuttle>
		<serviceBus>
			<queueFactories scan="true" />
		</serviceBus>
	</shuttle>
</configuration>