<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <section name="serviceBus" type="Shuttle.ESB.Core.ServiceBusSection, Shuttle.ESB.Core"/>
   </configSections>

   <serviceBus>
	   <uriResolver>
        <add name="resolver://host/queue-1" uri="msmq://./inbox-work-queue" />
        <add name="resolver://host/queue-2" uri="rabbitmq://user:password@the-server/inbox-work-queue" />
      </uriResolver>
   </serviceBus>
</configuration>