<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="serviceBus" type="Shuttle.ESB.Core.ServiceBusSection, Shuttle.ESB.Core"/>
  </configSections>

  <serviceBus>
    <cryptography key="8DE0245E-BF1C-43F6-B7EF-19138CE16BB8" />
  </serviceBus>
</configuration>