<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <section name="serviceBus" type="Shuttle.ESB.Core.ServiceBusSection, Shuttle.ESB.Core"/>
   </configSections>

   <serviceBus>
      <forwardingRoutes>
         <messageRoute uri="msmq://./inbox">
            <add specification="StartsWith" value="Shuttle.Messages1" />
            <add specification="StartsWith" value="Shuttle.Messages2" />
         </messageRoute>
         <messageRoute uri="sql://./inbox">
            <add specification="TypeList" value="DoSomethingCommand" />
         </messageRoute>
      </forwardingRoutes>
   </serviceBus>
</configuration>