  <body role='flatdoc'>
    <div class='navbar navbar-default navbar-fixed-top'>
        <div class='container'>
			<div class='navbar-header'>
				<a class='navbar-brand' href='{{ site.baseurl }}/'>shuttle-esb</a>
			</div>
			<div class='navbar-collapse collapse navbar-responsive-collapse'>
				<ul class='nav navbar-nav'>
					<li>
						<a href='{{ site.baseurl }}/'>Home</a>
					</li>
					<li class='dropdown'>
						<a class='dropdown-toggle' data-toggle='dropdown' href='#'>
						Guides
						<b class='caret'></b>
						</a>
						<ul class='dropdown-menu'>
							<li>
								<a href='{{ site.baseurl }}/getting-started/index.html'>Getting Started</a>
							</li>
							<li class='divider'></li>
							<li>
								<a href='{{ site.baseurl }}/architecture/index.html'>Architecture &amp; Patterns</a>
							</li>
							<li class='divider'></li>
							<li>
								<a href='{{ site.baseurl }}/modules/index.html'>Modules</a>
							</li>
						</ul>
					</li>
					<li class='dropdown'>
						<a class='dropdown-toggle' data-toggle='dropdown' href='#'>
						API
						<b class='caret'></b>
						</a>
						<ul class='dropdown-menu'>
							<li class='dropdown-header'>Core</li>
								<li>
									<a href='{{ site.baseurl }}/service-bus/index.html'>Service Bus</a>
								</li>
								<li>
									<a href='{{ site.baseurl }}/transactionscope-factory/index.html'>TransactionScope Factory</a>
								</li>
								<li>
									<a href='{{ site.baseurl }}/pipeline-factory/index.html'>Pipeline Factory</a>
								</li>
								<li>
									<a href='{{ site.baseurl }}/message-route-provider/index.html'>Message Route Provider (+Forwarding)</a>
								</li>
								<li>
									<a href='{{ site.baseurl }}/message-handler-factory/index.html'>Message Handler Factory</a>
								</li>
								<li>
									<a href='{{ site.baseurl }}/serializer/index.html'>Serializer</a>
								</li>
								<li>
									<a href='{{ site.baseurl }}/service-bus-policy/index.html'>Policy</a>
								</li>
								<li>
									<a href='{{ site.baseurl }}/thread-activity-factory/index.html'>Thread Activity Factory</a>
								</li>
							<li class='divider'></li>
							<li class='dropdown-header'>Miscellaneous</li>
								<li>
									<a href='{{ site.baseurl }}/full-configuration/index.html'>Full Configuration</a>
								</li>
							</li>
						</ul>
					</li>
					<li class='dropdown'>
						<a class='dropdown-toggle' data-toggle='dropdown' href='#'>
						Extensions
						<b class='caret'></b>
						</a>
						<ul class='dropdown-menu'>
							<li class='dropdown-header'>Queues</li>
								<li>
									<a href='{{ site.baseurl }}/extensions-rabbitmq/index.html'>RabbitMQ</a>
								</li>
								<li>
									<a href='{{ site.baseurl }}/extensions-msmq/index.html'>MSMQ</a>
								</li>
								<li>
									<a href='{{ site.baseurl }}/extensions-sql-server/index.html'>Sql Server</a>
								</li>
							<li class='divider'></li>
							<li class='dropdown-header'>Factories</li>
								<li>
									<a href='{{ site.baseurl }}/extensions-castle-project/index.html'>Castle Project</a>
								</li>
							</li>
							<li class='divider'></li>
							<li class='dropdown-header'>Modules</li>
								<li>
									<a href='{{ site.baseurl }}/modules-corrupt-messages/index.html'>Corrupt Transport Messages</a>
								</li>
							</li>
						</ul>
					</li>
					<li>
						<a href='http://www.youtube.com/shuttleservicebus' target='_blank'>Videos</a>
					</li>
					<li>
						<a href='{{ site.baseurl }}/archive/index.html'>Archive</a>
					</li>
				</ul>
				<ul class='nav navbar-nav navbar-right'>
					<li>
						<a target='_blank' href='https://github.com/Shuttle/shuttle-esb'>GitHub</a>
					</li>
					<li>
						<a target='_blank' href='https://github.com/Shuttle/shuttle-esb/issues'>Issues</a>
					</li>
				</ul>
			</div>
        </div>
    </div>