<footer class="footer text-muted">
  <!-- <div class="container-fluid text-center">
    <div v-if="debugging">
      <div class="d-none d-xl-block font-weight-bold">X-LARGE (XL)</div>
      <div class="d-none d-lg-block d-xl-none font-weight-bold">LARGE (LG)</div>
      <div class="d-none d-md-block d-lg-none font-weight-bold">MEDIUM (M)</div>
      <div class="d-none d-sm-block d-md-none font-weight-bold">SMALL (SM)</div>
      <div class="d-block d-sm-none alert font-weight-bold">X-SMALL (Default)</div>
    </div>
  </div> -->
  <div class="container-fluid p-3 p-md-5">
    <ul class="footer-links">
      <li><a href="{{ site.github }}">GitHub</a></li>
    </ul>
    <p>Designed and built by {{ site.author }} using <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>, <a href="https://afeld.github.io/bootstrap-toc/" target="_blank">afeld/bootstrap-toc</a>, <a href="https://lunrjs.com/" target="_blank">lunr.js</a>, and <a href="https://webpack.js.org/" target="_blank">webpack</a>.</p>
  </div>
</footer>
