	<script>
		var baseurl = '{{ site.baseurl }}';
		var flatdocFileUrl = '{{ page.flatdocFileUrl }}';
	</script>
	<script src="{{ site.baseurl }}/js/jquery.min.js"></script>
	<script src="{{ site.baseurl }}/js/bootstrap.js"></script>
	<script src="{{ site.baseurl }}/js/flatdoc.js"></script>
	<script src="{{ site.baseurl }}/js/flatdoc-anchor.js"></script>
	<!--
	<script src="{{ site.baseurl }}/js/rainbow.min.js"></script>
	<script src="{{ site.baseurl }}/js/language/csharp.js"></script>
	<script src="{{ site.baseurl }}/js/language/css.js"></script>
	<script src="{{ site.baseurl }}/js/language/generic.js"></script>
	<script src="{{ site.baseurl }}/js/language/html.js"></script>
	<script src="{{ site.baseurl }}/js/language/javascript.js"></script>
	-->
	<script src="{{ site.baseurl }}/js/highlight.js"></script>
	<script src="{{ site.baseurl }}/js/languages/cs.js"></script>
	<script src="{{ site.baseurl }}/js/languages/css.js"></script>
	<script src="{{ site.baseurl }}/js/languages/javascript.js"></script>
	<script src="{{ site.baseurl }}/js/languages/json.js"></script>
	<script src="{{ site.baseurl }}/js/languages/markdown.js"></script>
	<script src="{{ site.baseurl }}/js/languages/sql.js"></script>
	<script src="{{ site.baseurl }}/js/languages/vbnet.js"></script>
	<script src="{{ site.baseurl }}/js/languages/xml.js"></script>
	<script src="{{ site.baseurl }}/js/site.js"></script>
</body>
</html>