<footer class="footer text-muted">
  <div class="container-fluid p-3 p-md-5">
    <ul class="footer-links">
      <li><a href="{{ site.github }}">GitHub</a></li>
    </ul>
    <p>Designed and built by {{ site.author }} using <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>, <a href="https://afeld.github.io/bootstrap-toc/" target="_blank">afeld/bootstrap-toc</a>, <a href="https://lunrjs.com/" target="_blank">lunr.js</a>, and <a href="https://stealjs.com" target="_blank">stealjs</a>.</p>
  </div>
</footer>
