<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <link id="theme-stylesheet" rel="stylesheet">
    <link rel="icon" 
      type="image/x-icon" 
      href="{{ "" | relative_url }}/favicon.ico">
    <div id="unstyled-overlay" style="background-color: transparent; position: fixed; top:0px; left:0px; width:100%; height:100%; z-index:2000;"></div>
    <script src="{{ "/packed/bundle.js" | relative_url }}"></script>
    <script lang="js">
        var baseurl = "{{ "" | relative_url }}";
        var version = "v={{ site.time | date: "%Y%m%d%H%M%S" }}";
        var theme = localStorage.getItem("theme") || 'dark';

        $('#unstyled-overlay').css('background-color', theme == 'light' ? '#eeeeee' : '#090c10');
    </script>
</head>
