<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>

	<appSettings>
		<add key="QueueRepositoryType" value="SqlQueueRepository"/>
		<add key="DataStoreRepositoryType" value="SqlDataStoreRepository"/>
		<add key="XmlQueueRepositoryPath" value="..\..\..\..\stores\queue.store"/>
		<add key="XmlDataStoreRepositoryPath" value="..\..\..\..\stores\datastore.store"/>
	</appSettings>

	<connectionStrings>
    <clear/>
		<add name="SqlQueueRepository" connectionString="Data Source=.\sqlexpress; Initial Catalog=shuttle;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
		<add name="SqlDataStoreRepository" connectionString="Data Source=.\sqlexpress; Initial Catalog=shuttle;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<log4net>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="logs\shuttle-management-queues"/>
			<appendToFile value="true"/>
			<rollingStyle value="Date"/>
			<maxSizeRollBackups value="10"/>
			<maximumFileSize value="100000KB"/>
			<datePattern value="-yyyyMMdd.'log'"/>
			<param name="StaticLogFileName" value="false"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d [%t] %-5p %c - %m%n"/>
			</layout>
		</appender>
		<root>
			<level value="TRACE"/>
			<appender-ref ref="RollingFileAppender"/>
		</root>
	</log4net>
</configuration>
