<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="shuttle">
			<section name="msmq" type="Shuttle.ESB.Msmq.MsmqSection, Shuttle.ESB.Msmq"/>
		</sectionGroup>
	</configSections>

	<shuttle>
		<msmq
			localQueueTimeoutMilliseconds="1500"
			remoteQueueTimeoutMilliseconds="3500" />
	</shuttle>
</configuration>