<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Optional theme -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Sticky Footer -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bs-sticky-footer.css" rel="stylesheet">
    
    <!-- Custom styles -->
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link href="{{ ASSET_PATH }}/css/jquery.tocify.css" rel="stylesheet" type="text/css" media="all">
    <link href="{{ ASSET_PATH }}/css/syntax.css" rel="stylesheet" type="text/css" media="all">
	
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <!-- Update these with your own images
      <link rel="shortcut icon" href="images/favicon.ico">
      <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
      <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    -->

    <!-- atom & rss feed -->
    <link href="{{ site.baseurl }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ site.baseurl }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">
	<script>
		var shuttle = { baseurl: '{{ site.baseurl }}' };
	</script>
  </head>

  <body>
    <div id="wrap">
      <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#jb-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="jb-navbar-collapse">
			<ul class='nav navbar-nav'>
				<li class='dropdown'>
					<a class='dropdown-toggle' data-toggle='dropdown' href='#'>
					Guides
					<b class='caret'></b>
					</a>
					<ul class='dropdown-menu'>
						<li>
							<a target='_blank' href='https://docs.nuget.org/'>NuGet Documentation</a>
						</li>
						<li class='divider'></li>
						<li>
							<a target='_blank' href='https://www.rabbitmq.com/install-windows.html'>RabbitMQ Installation</a>
							<a href='{{ site.baseurl }}/msmq-installation-activation'>Msmq Installation / Activation</a>
						</li>
						<li class='divider'></li>
						<li>
							<a href='{{ site.baseurl }}/guide-modules-implementation'>Modules</a>
						</li>
						<li class='divider'></li>
						<li>
							<a href='{{ site.baseurl }}/guide-exception-handling'>Exception Handling</a>
						</li>
					</ul>
				</li>
				<li class='dropdown'>
					<a class='dropdown-toggle' data-toggle='dropdown' href='#'>
					Samples
					<b class='caret'></b>
					</a>
					<ul class='dropdown-menu'>
						<li>
							<a href='{{ site.baseurl }}/sample-request-response'>Request / Response</a>
						</li>
						<li class='divider'></li>
						<li>
							<a href='{{ site.baseurl }}/sample-publish-subscribe'>Publish / Subscribe</a>
						</li>
						<li class='divider'></li>
						<li>
							<a href='{{ site.baseurl }}/sample-deferred'>Deferred Messages &amp; Logging</a>
						</li>
						<li class='divider'></li>
						<li>
							<a href='{{ site.baseurl }}/sample-distribution'>Message Distribution</a>
						</li>
						<li class='divider'></li>
						<li>
							<a href='{{ site.baseurl }}/sample-idempotence'>Idempotence</a>
						</li>
						<li class='divider'></li>
						<li>
							<a href='{{ site.baseurl }}/sample-dependencyinjection'>Dependency Injection</a>
						</li>
						<li class='divider'></li>
						<li>
							<a href='{{ site.baseurl }}/sample-processmanagement'>Process Management</a>
						</li>
					</ul>
				</li>
				<li class='dropdown'>
					<a class='dropdown-toggle' data-toggle='dropdown' href='#'>
					Concepts
					<b class='caret'></b>
					</a>
					<ul class='dropdown-menu'>
						<li>
							<a href='{{ site.baseurl }}/concepts-esb'>Why use a service bus?</a>
						</li>
						<li class='divider'></li>
						<li>
							<a href='{{ site.baseurl }}/concepts-request-response'>Request / Response</a>
						</li>
						<li class='divider'></li>
						<li>
							<a href='{{ site.baseurl }}/concepts-publish-subscribe'>Publish / Subscribe</a>
						</li>
						<li class='divider'></li>
						<li>
							<a href='{{ site.baseurl }}/concepts-distribution'>Message Distribution</a>
						</li>
						<li class='divider'></li>
						<li>
							<a href='{{ site.baseurl }}/concepts-routing'>Message Routing</a>
						</li>
						<li class='divider'></li>
						<li>
							<a href='{{ site.baseurl }}/concepts-idempotence'>Message Idempotence</a>
						</li>
						<li class='divider'></li>
						<li>
							<a href='{{ site.baseurl }}/concepts-deferred-messages'>Deferred Messages</a>
						</li>
						<li class='divider'></li>
						<li>
							<a href='{{ site.baseurl }}/bounded-contexts'>Bounded Contexts (BCs) / Stadium</a>
						</li>
					</ul>
				</li>
				<li class='dropdown'>
					<a class='dropdown-toggle' data-toggle='dropdown' href='#'>
					Components
					<b class='caret'></b>
					</a>
					<ul class='dropdown-menu'>
						<li class='dropdown-header'>Core</li>
							<li>
								<a href='{{ site.baseurl }}/encryption'>Encryption</a>
							</li>
							<li>
								<a href='{{ site.baseurl }}/compression'>Compression</a>
							</li>
							<li>
								<a href='{{ site.baseurl }}/idempotence-service'>Idempotence Service</a>
							</li>
							<li>
								<a href='{{ site.baseurl }}/identity-provider'>Identity Provider</a>
							</li>
							<li>
								<a href='{{ site.baseurl }}/message-handler-factory'>Message Handler Factory</a>
							</li>
							<li>
								<a href='{{ site.baseurl }}/message-handler-invoker'>Message Handler Invoker</a>
							</li>
							<li>
								<a href='{{ site.baseurl }}/message-handling-assessor'>Message Handling Assessor</a>
							</li>
							<li>
								<a href='{{ site.baseurl }}/message-route-provider'>Message Route Provider</a>
							</li>
							<li>
								<a href='{{ site.baseurl }}/message-sender'>Message Sender</a>
							</li>
							<li>
								<a href='{{ site.baseurl }}/pipeline-factory'>Pipeline Factory</a>
							</li>
							<li>
								<a href='{{ site.baseurl }}/queue-manager'>Queue Manager</a>
							</li>
							<li>
								<a href='{{ site.baseurl }}/service-bus-policy'>Policy</a>
							</li>
							<li>
								<a href='{{ site.baseurl }}/serializer'>Serializer</a>
							</li>
							<li>
								<a href='{{ site.baseurl }}/service-bus'>Service Bus</a>
							</li>
							<li>
								<a href='{{ site.baseurl }}/subscription-manager'>Subscription Manager</a>
							</li>
							<li>
								<a href='{{ site.baseurl }}/thread-activity-factory'>Thread Activity Factory</a>
							</li>
							<li>
								<a href='{{ site.baseurl }}/transactionscope-factory'>TransactionScope Factory</a>
							</li>
							<li>
								<a href='{{ site.baseurl }}/uri-resolver'>Uri Resolver</a>
							</li>
						<li class='divider'></li>
						<li class='dropdown-header'>Miscellaneous</li>
							<li>
								<a href='{{ site.baseurl }}/full-configuration'>Full Configuration</a>
							</li>
							<li>
								<a href='{{ site.baseurl }}/packages'>Packages</a>
							</li>
						</li>
					</ul>
				<li class='dropdown'>
					<a class='dropdown-toggle' data-toggle='dropdown' href='#'>
					Implementations
					<b class='caret'></b>
					</a>
					<ul class='dropdown-menu'>
						<li class='dropdown-header'>Queue</li>
							<li>
								<a href='{{ site.baseurl }}/implementations-rabbitmq'>RabbitMQ</a>
							</li>
							<li>
								<a href='{{ site.baseurl }}/implementations-msmq'>MSMQ</a>
							</li>
                            <li>
								<a href='{{ site.baseurl }}/implementations-filemq'>File MQ</a>
							</li>
							<li>
								<a href='{{ site.baseurl }}/implementations-sql/#Queue'>Sql</a>
							</li>
						</li>
						<li class='divider'></li>
						<li class='dropdown-header'>Subscription</li>
							<li>
								<a href='{{ site.baseurl }}/implementations-sql/#Subscription'>Sql</a>
							</li>
						</li>
						<li class='divider'></li>
						<li class='dropdown-header'>Idempotence</li>
							<li>
								<a href='{{ site.baseurl }}/implementations-sql/#Idempotence'>Sql</a>
							</li>
						</li>
					</ul>
				</li>
				<li class='dropdown'>
					<a class='dropdown-toggle' data-toggle='dropdown' href='#'>
					Modules
					<b class='caret'></b>
					</a>
					<ul class='dropdown-menu'>
                        <li>
                            <a href='{{ site.baseurl }}/modules-corrupt-messages'>Corrupt Transport Messages</a>
                        </li>
                        <li>
                            <a href='{{ site.baseurl }}/modules-message-forwarding'>Message Forwarding</a>
                        </li>
                        <li>
                            <a href='{{ site.baseurl }}/modules-purge-inbox'>Purge Inbox</a>
                        </li>
                        <li>
                            <a href='{{ site.baseurl }}/modules-purge-queues'>Purge Queues</a>
                        </li>
                        <li>
                            <a href='{{ site.baseurl }}/modules-active-time-range'>Active Time Range</a>
                        </li>
                        <li>
                            <a href='{{ site.baseurl }}/modules-throttle'>Throttle</a>
                        </li>
					</ul>
				</li>
				<li class='dropdown'>
					<a class='dropdown-toggle' data-toggle='dropdown' href='#'>
					Archive
					<b class='caret'></b>
					</a>
					<ul class='dropdown-menu'>
                        <li>
                            <a href='https://shuttle.github.io/shuttle-esb-v7/'>pre-v8.0.0 Documentation</a>
                        </li>
					</ul>
				</li>
				<!--
				{% assign pages_list = site.pages %}
				{% assign group = 'navigation' %}
				{% include JB/pages_list %}
				-->
			</ul>
          <ul class="nav navbar-nav navbar-right">
			<li>
			  <a href="https://www.jetbrains.com/resharper/" class="hidden-xs hidden-sm" target="_blank">ReSharper</a>
			</li>
			{% if site.github_repository %}
			<li>
			  <a href="{{ site.github_repository }}" class="hidden-xs hidden-sm" target="_blank">GitHub</a>
			</li>
			{% endif %}
		  </ul>
        </div><!-- /.navbar-collapse -->
      </nav>

      <div class="container">
		<div id='notification' style='display: none'></div>
        {{ content }}
      </div>

	  <div id="footer-space"></div>
    </div>

    <div id="footer">
        <p>&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}
          with help from <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
          and <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a> / <a href="http://github.com/dhulihan/hooligan" target="_blank">The Hooligan Theme</a>
        </p>
    </div>

    {% include JB/analytics %}

    <script src="{{ ASSET_PATH }}/js/jquery.min.js"></script>
	<script src="{{ ASSET_PATH }}/js/jquery-ui.min.js"></script>
	<script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap.min.js"></script>
	<script src="{{ ASSET_PATH }}/js/jquery.tocify.min.js"></script>
	<script src="{{ ASSET_PATH }}/js/site.js"></script>
  </body>
</html>
