/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }
  
 /* shuttle */

body { font-family: sans-serif; }
.navbar-brand { font-weight: bold; }
ul.blog-archive { list-style: none; }
#toc-anchor { height: 15px; }
#footer {
  padding: 15px;
  height: auto;
  /*position: fixed;*/
  bottom: 0px;
  width: 100%;
  border-top: #E7E7E7 solid 1px;
}
#footer-space { height: 3em; }
.construction { color: #ff0000; }

.nuget-badge code {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #202020;
    border: 4px solid silver;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #6e6e6e;
    color: #e2e2e2;
    display: block;
    font: 1em 'andale mono','lucida console',monospace;
    line-height: 1.5em;
    overflow: auto;
    padding: 8px 10px;
}

.nuget-badge code::before {
    content: "PM> ";
}