<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="shuttle">
			<section name="rabbitmq" type="Shuttle.ESB.RabbitMQ.RabbitMQSection, Shuttle.ESB.RabbitMQ"/>
		</sectionGroup>
	</configSections>

	<shuttle>
		<rabbitmq
			requestedHeartbeat="50"
			localQueueTimeoutMilliseconds="1500"
			remoteQueueTimeoutMilliseconds="3500"
			connectionCloseTimeoutMilliseconds="1500"
			operationRetryCount="5"
			defaultPrefetchCount="100" />
	</shuttle>
</configuration>