<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <section name="serviceBus" type="Shuttle.ESB.Core.ServiceBusSection, Shuttle.ESB.Core"/>
   </configSections>

   <serviceBus>
      <inbox
         workQueueUri="msmq://./inbox_work"
         journalQueueUri="msmq://./inbox_journal"
         errorQueueUri="msmq://./inbox_error"
         />
   </serviceBus>
</configuration>