<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="sqlServer" type="Shuttle.ESB.SqlServer.SqlServerSection, Shuttle.ESB.SqlServer"/>
	</configSections>

	<sqlServer
		subscriptionManagerConnectionStringName="subscription-connection-string-name"
		scriptFolder=".\custom-script-folder"
    />
</configuration>