<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="shuttle">
			<section name="sqlServer" type="Shuttle.ESB.SqlServer.SqlServerSection, Shuttle.ESB.SqlServer"/>
		</sectionGroup>
	</configSections>

	<shuttle>
		<sqlServer
			subscriptionManagerConnectionStringName="subscription-connection-string-name"
			scriptFolder=".\custom-script-folder" />
	</shuttle>
</configuration>