<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body data-spy="scroll" data-target="#toc">

    <main class="page-content" aria-label="Content">
        <div class="container-fluid">
            <div class="row">
                <div class='col-lg-1 d-none d-lg-block'>
                </div>
                <div class='col-lg-10 pb-5'>
                    <div class="mb-3 sticky-top">
                        {%- include header.html -%}
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class='col-xl-10 col-lg-9 pb-5 pl-0 pr-0 pr-sm-0 pr-lg-3'>
                                {{ content }}
                            </div>
                            <div id='toc-container' class='col-xl-2 col-lg-3 d-none d-lg-block'>
                                <nav id="toc" data-toggle="toc" class="sticky-top"></nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-lg-1 d-none d-lg-block'>
                </div>
            </div>
        </div>
    </main>

    {%- include footer.html -%}

</body>

</html>