<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}

<body>
    <script lang="js">
        $(function () {
            performSearch();
        });
    </script>

    <main class="page-content" aria-label="Content">
        <div class="container-fluid">
            <div class="row">
                <div class='col-lg-1 d-none d-lg-block'>
                </div>
                <div class='col-lg-10 pb-5'>
                    <div class="mb-3 sticky-top">
                        {%- include header.html -%}
                    </div>
                    <h2 class="mt-2">Search results</h2>
                    <div id="search-results"></div>
                </div>
                <div class='col-lg-1 d-none d-lg-block'>
                </div>
            </div>
        </div>
    </main>

    {%- include footer.html -%}

</body>

</html>